
spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: sa
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true

  jpa:
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: 'create-drop'
    database-platform: org.hibernate.dialect.H2Dialect

